<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
<meta charset="UTF-8" />
<title>Sistema de Cadastro</title>
</head>
<body>
	<h1>Página de Cadastro de Clientes</h1>

	<div class="panel-body">
		<form th:object="${cliente}" th:action="@{/cliente/salvar}"
			method="post" class="form-horizontal" style="margin: 15px">

			<div class="form-group">
				<!-- 				Lista de Erros -->
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="detailError : ${#fields.detailedErrors()}">
						<span th:text="${detailError.message}"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="nome">Nome:</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{nome}" class="form-control"
						id="nome" placeholder="Digite o nome" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="cpf">CPF:</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{cpf}" maxlength="11"
						class="form-control" id="cpf" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="Data">Data:</label>
				<div class="col-sm-10">
					<input type="date" th:field="*{data}" class="form-control"
						id="data" />
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
			</div>
		</form>
	</div>
</body>
</html>