<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
<meta charset="UTF-8" />
<title>Sistema de Cadastro</title>
</head>
<body style="padding: 15px">
	<h1>Página do Cliente</h1>
	<div class="panel-body">
		<div class="btn-group pull-left">
			<a class="btn btn-sm btn-success" style="margin:15px"
				href="/cliente/cadastro">Cadastrar Novo</a>
		</div>
		<div class="table-resoponsive">
			<table
				class="table table-sm table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th><a th:href="">ID</a></th>
						<th>NOME</th>
						<th>CPF</th>
						<th>DATA</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${_clientes}">
						<td th:text="${c.id}"></td>
						<td th:text="${c.nome}"></td>
						<td th:text="${beans.cv.cpf('12345678901')}"></td>
						<td th:text="${#dates.format(c.data,'dd / MMM / yyyy')}"></td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-sm btn-primary"
									th:href="@{/cliente/editar/{id}(id=${c.id})}">Editar</a>
							</div>
							<div class="btn-group pull-left">
								<a class="btn btn-sm btn-danger"
									th:href="@{/cliente/excluir/{id}(id=${c.id})}">Excluir</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>